.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .friend {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 8px solid rgb(26, 240, 7);
    box-shadow: 5px 5px 15px 5px #000000;
    max-width: 500px;
}