.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .event, .eventCard {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 8px solid rgb(199, 192, 240);
      min-width: 500px;
      max-width: 600px;
    
  }
  .eventList {
      flex-basis: 50%;
  }
  .eventButton {
      margin: .25em
  }

  .eventCard {
    display: flex
  }
  .weatherAndButtons {
      flex-basis: 30%;
    margin-left: 2em;
    
  }
  .weatherPic {
      max-width: 300px;
      display:flex;
      border: 8px groove #7c83da;
  }